* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
    line-height: 150%;

}

.fontl {
    
}

.fontxl {
    font-size: 3rem;
}

.v-center {
    align-items: center;

}

.none {
    display: none;
}

.block {
    display: block;
}

.in-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.spc-between {
    justify-content: space-between;
}

.p-fixed {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
}

.long-button {
    text-align: center;
    border-radius: 25px;
    padding: 10px 0px;
    letter-spacing: .2rem;

}

.container {
    width: 90%;
    margin: 0 auto;
}

.card-sky {
    width: 100%;
    background-color: rgb(181,221,255);
    border-radius: 20px;
    color: rgb(90,110,127);
    padding: 10% ;
    text-align: center;
}
.card-white {
    width: 100%;
    padding: 20px 0;
    border-radius: 50px;
    padding: 10%;
}

.width-100 {
    width: 100%;
}

.width-60 {
    width: 60%;
}

.width-30 {
    width: 40%;
}

.width-img1{
    width: 100%;
}

.width-img2 {
    width: 100%;
}

.padd-nobt {
    padding-bottom: 0;
    }

.gap10 {
    gap: 20px;
}

.gap20 {
    gap: 40px;
}

.mr-top {
    margin-top: 80px;
}

.mr-top20 {
    margin-top: 2em;
}
.padd-40 {
    padding: 30px 0px;
}

.padd-10 {
    padding: 20px 0px;
}

.h-40 {
    height: 40px;
}
.width-80 {
    width: 80%;
}

.txt-centre{
    text-align: center;
}



.txt-standard {
    text-align: start;
}
.txt-none {
    text-decoration: none;
}

.txt-white {
    color: white;
}

.txt-black {
    color: black;
}

.txt-blu {
    color: rgb(0,132,253);
}

.txt-viola {
 color:  rgb(151,146,228);

}

.bckground-blu {
    background-color: rgb(0,132,253);
}

.bckground-viola {
    background-color: rgb(151,146,228);
}

.bckground-white {
    background-color: white;
}

.circle {
    line-height: 60px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.bigcircle {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.postion-foto {
    width: 100%;
    object-fit: cover;
    height: 100%;
        
}

.mr-auto {
    margin: 0 auto;
}

.p-relative {
    position: relative;
}

.p-absolute-top {
    position: absolute;
    top: 30px;
    right: 0;

}
.dx-viola2 p {
    font-size: 1.5rem;
}



@media only screen and (min-width: 768px){


    .card-sky {
        padding: 3%;
        width: calc(100% / 3 - 20px);
    }

    #card-lunga{
        width:calc(100% / 1.5 - 20px);
        padding-bottom: 0;
    }

    .width-img1 {
        width: 50%;
    }

    .width-80 {
        width: 60%;
    }

    .width-after {
        width:100% 
    }

    #strategic {
        font-size: 5rem;}

    
 
    .flex-future2 {
            display: flex;
            justify-content: space-between;
        }

    .dx-viola2 {
            width: 70%;
        }

    .bigcircle {
        height: 200px;
         width: 200px;}

    .smallcard {
        width: calc(100% / 2 - 20px);
        padding: 5%;
    }
    
    .padd-viola {
       padding: 5% 2%;
    }

    .sx-about-us {
        width: 65%;
    }

    .dx-about-us {
        width: 30%;
        font-size: 1rem;
    }

    .width-30 {
        width: 100%;
        font-size: .7rem;
    }


    .dx-about-us h2 {
        font-size: 1.2rem;
    }

   
        
}



@media screen and (min-width:992px) {
    .container{
        width:60%;
    }
   
    #lato-sx {
    width: 70%;
   }
  
    .flex-future {
        display: flex;
    }

    .future-column
    {
        flex-direction: column;
    }

    .none {
        display: flex;
    }
    
    #barre{
        display: none;
    }

    .sx-viola {
        width:60% ;
    }

    .dx-viola2 {
        width: 70%;
    }

    .dx-viola {
        width: 35%;
        border-radius: 40px;
        padding: 3%;
    }

    .align-end {
        align-items: end;
    }

    #strategic {
        font-size: 3rem;
        margin-top: 100px;
    }

    .smallcard {
        width: calc(100% / 3 - 10px);
        margin-top: 15px;
    }

    .width-60 {
        width: 80%;
    }

   

}


